<form class="form-inline">
    <label class="sr-only" for="inlineFormInputName2">Subject/Topic</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Subject/Topic" autocomplete="off" required>
  
    <label class="sr-only" for="inlineFormInputGroupUsername2" >Location</label>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        
      </div>
    </div>
  
  
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </form>