{% extends 'pages/base.html' %}
{% load index %}
{%load get_dict_val %}
{% block content %}
    <style>
        .main{
            height: 550px;
            
        }
        .chat-container{
            margin: 10px 0 0 0;
            
            width: 100%;
            height: 550px;
        }
        .scroll{
            background-color:wheat;
            height: 80%;
            width: 640px;
            overflow-y: auto;
            padding: 12px;
            
            
        }
        .left-container{
            margin: 3px 51% 2px 3px;
            max-width: 48%;
            
            
        }
        .right-container{
            margin: 3px 3px 2px 51%;
            max-width: 48%;
            
         
            
        }
        #id_message{
            width: 570px;
            height: 40px;
            border-radius: 5px;
          
        }
        .msg-button{
            width: 60px;
            
            height: 40px;
            border-radius: 5px;
        }
        .msg-container{
            background-color:lightcyan;
            border-radius: 20px;
        }
        .time{
            margin: 2px 2px 2px 85%;
        }
        .msg{
            margin: 2px 2px 2px 2px;
        }
        .center-container{
            margin: 2px 40% 2px 40%;
            border-radius: 25px;
            max-width: 40px;
            max-height: 20px;
            background-color:yellowgreen;//burlywood;
        }
        .div-row{
            
            height: 550px;
        }
        .chatbox-container{
            height: 95%;
        }
        .chat-nav{
            min-height: 60px;
            min-width: 106%;
            background-color:tan;
        }
        .chat-profile-pic{
            max-height: 50px;
            max-width: 50px;
            border-radius: 50%;
            margin: 8px;
        }
        .chat-profile-name,.back-btn{
            margin: 15px 10px 15px 2px;
        }
        .text-detail{
            margin: 10px;
        }
        .btn-form-container{
            margin: 50px auto;
        }
        .btn-class-chat{
            margin: 5px 10px 5px 20px;
           
        }
        .btn-class-completed,.btn-class-cancel{
            margin: 5px;
        }
    </style>
    <div class="container main">
        <div class="row div-row">
            <div class="col-lg-5 ">
                <div class="container">
                    <div><h2 class="text-detail">Meeting Details</h2></div>
                    <div class="row meeting-details">
                        
                        <div class="col-lg-5">
                            <div class="text-detail">
                                <h5>Student Name</h5>
                            </div>
                            <div class="text-detail">
                                <h5>Topic</h5>
                            </div>
                            <div class="text-detail">
                                <h5>Date</h5>
                            </div>
                            <div class="text-detail">
                                <h5>Tutor Name</h5>
                            </div>
                            

                        </div>
                        <div class="col-lg-7">
                            <div class="text-detail">
                                <h5>{{student.first_name}} {{student.last_name}}</h5>
                            </div>
                            <div class="text-detail">
                                <h5>
                                    {{order.subject}}
                                </h5>
                            
                            </div>
                            <div class="text-detail">
                                <h5>
                                    {{order.apmnt_time}}
                                </h5>
                            
                            </div>
                            <div class="text-detail">
                                <h5>
                                    {{tutor.first_name}} {{tutor.last_name}}
                                </h5>
                            
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
    
                            <div class="container btn-form-container">
                                <div class="row">
                                    <div class="col-lg-4">
                                        {% if is_on is False %}
                                            <a href="{% url 'meeting_chat' meeting.id%}">
                                        
                                                <button class="btn btn-outline-primary btn-class-chat">Chat</button>
                    
                                            </a>
                                        {%else%}
                                            <a href="{% url 'meeting_view' meeting.id %}">
                                                <button class="btn btn-outline-primary btn-class-chat">Back</button>
                                            </a>
                                        {%endif%}
                                    </div>
                                    {%if student.id == user.id %}
                                        {%if meeting.s_status == 'active' %}
                                        <div class="col-lg-4">
                                            <a href="{% url 'meeting_complete' meeting.id %}">
                                                <button class="btn btn-outline-success btn-class-completed">Completed</button>
                                            </a>
                                        </div>
                                        <div class="col-lg-4">
                                            <a href="{% url 'delete_meeting' meeting.id %}">
                                                <button class="btn btn-outline-danger btn-class-cancel">Cancel</button>
                                            </a>
                                        </div>
                                        
                                        
                                        {%endif%}
                                    {% else %}
                                        {% if meeting.t_status == "active" %}
                                            
                                            <div class="col-lg-4">
                                                <a href="{% url 'delete_meeting' meeting.id %}">
                                                    <button class="btn btn-outline-danger btn-class-cancel" id="#btnCancel">Cancel</button>
                                                </a>
                                            </div>
                                            
                                        {%endif%}
                                    {%endif%}
                                    
                                </div>
                            </div>
                            
                           
                           

                       
                       
                        
                    </div>
                </div>
                <div class="container">
                    <div class="error-message">
                        <h5>{{error_message}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 chat-container ">
                {% if is_on %}
                    
                    <div class="container chatbox-container">
                        <div class="row chat-nav">
                            <div class="container profile-nav">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-log-1">
                                                    <a href="{% url 'meeting_view' meeting.id %}">
                                                        <h2 class="back-btn"><i class="fas fa-chevron-circle-left"></i></h2>
                                                    </a>
                                                </div>
                                                <div class="col-lg-2">
                                                    <img src="{{other_user.profile_pic.url}}" class="chat-profile-pic">

                                                </div>
                                                <div class="col-lg-6">
                                                     <h4 class="chat-profile-name">{{other_user.first_name}} {{other_user.last_name}}</h4>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row scroll" id="scrollbox" onscroll="myfunction()">
                            
                                <div class="center-container"></div>
                                {% for v in chating.chat %}
                                
                                {% if v|index:1 != user.id %}
                              
                                <div class="col-lg-6 left-container">
                                    <div class="container msg-container">
                                            <div class="msg">{{v|index:2}} </div>
                                            
                                            <div class="time">{{v|index:0}}</div>
                                    </div>
                                </div>
                                {% else %}
                                
                                <div class="col-lg-6 right-container">
                                    <div class="container msg-container">
                                        <div class="msg">{{v|index:2}} </div>
                                            
                                        <div class="time">{{v|index:0}}</div>
                                    </div>
                                </div>
                                {%endif%}
                                {%endfor%}
                            
                        
                        </div>
                        <div class="row">
                            <form action="" method="POST" id="chatForm">
                                {% csrf_token %}
                                {{form.message}}
                                <button class="msg-button" id="btnSend1">Send</button>
                            </form>
                        </div>
                        
                    </div>
                {%endif%}
            </div>
        </div>
        
        
    </div>
    <script>
        var msgDiv = document.getElementById("scrollbox");
        msgDiv.scrollTop = msgDiv.scrollHeight;             
        
    </script>
    <!-- <script type="text/javascript">
        
        /*
        
            $(document).ready(function () {
   
           $("#btnSend").click(function (event) {
               event.preventDefault();
               
               var form = $('#chatForm')[0];
      
               var data = new FormData(form);
            
               $("#btnSend").prop("disabled", true);
               $('input[type="text"]').val('');
               $.ajax({
      
                    type: "POST",
                    url: "{% url 'send_msg_chatbox' meeting.id %}",
                    data: data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 800000,
            
                    success: function (json) {
                        
                        if (!json.error)window.location.reload(true);
                        $("#btnSend").prop("disabled", false);
                    },
                    error: function (e) {                  
                        console.log("ERROR : ", e);
                        $("#btnSubmit").prop("disabled", false);
         
                    }
                });
         
        
           });
           
           $("#btnSubmit").click(function (event) {
        
               
            event.preventDefault();
     
           
           var form = $('#profile_update_form')[0];
     
           var data = new FormData(form);
     
           $("#btnSubmit").prop("disabled", true);
        
           $.ajax({
  
                type: "POST",
                enctype: 'multipart/form-data',
                url: "{% url 'profile_update'%}",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 800000,
        
                success: function (json) {
                    type:'GET';
                    if(!json.error) location.reload(true);
                },
                error: function (e) {                  
                    console.log("ERROR : ", e);
                    $("#btnSubmit").prop("disabled", false);
     
                }
            });
     
        });
     
       });
        */
        
      </script> -->
{%endblock%}